@charset "UTF-8";

#game_content{
	width: 750px;
	height: 520px;
	margin: auto;
	background-color: #333355;
}

#grid{
	position: relative;
	width: 520px;
	height: 520px;
	background-color: #222;
}

#player_info{
	position: relative;
	float: right;
	top: 60px;
	width: 230px;
	text-align: center;
}

#player_info p, #game_level{
	font-size: 18px;
}

#level{
	margin-bottom: 60px;
	font-weight: bold;
	font-size: 20px;
}

#player_score{
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: bold;
}

#total_score{
	padding: 20px 0 20px 0;
	font-size: 20px;
	font-weight: bold;
}

.score_gain{
	position: absolute;
	left: 102px;
	font-size: 15px;
	color: #22AA22;
}

#score_gauge{
	position: relative;
	float: left;
	left: 30px;
	width: 15px;
	height: 400px;
	background-color: #666;
}

#current_gauge{
	position: absolute;
	bottom: 0px;
	left: 2px;
	width: 11px;
	height: 0%;
	background-color: #00F000;
}

.gem, .bomb{
	position: absolute;
	width: 60px;
	height: 60px;
	background-position: center center;
	background-repeat: no-repeat;
}

.bomb{
	background-image: url('../images/sprites/bomb.png');
	background-color: #FFFFFF;
}

#restart_bt{
	position: absolute;
	bottom: 0;
	left: 75px;
	font-family: 'Electrolize', 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', sans-serif;
}

button{
	cursor:pointer;
	height: 30px;
	margin: 15px -5px 15px 0px;
	padding-left: 0 9px 0 9px;
	background-color: #F3F3F3;
	border: solid 1px #DCDCDC;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	font-size: 10pt;
	color: #6E6E6E;
}

button:hover{
	border-color: #999;
	-o-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	color: #333;
}

button:active{
	border-color: #444;
	color: #000;
}