@charset "UTF-8";

html {
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #FFFFFF;
}

#content{
	position: relative;
	width: 1000px;
	min-height: 100%;
	margin: auto;
	background: #EEF;
	box-shadow: 0px -1px 10px #AAAAAA;
	-o-box-shadow: 0px -1px 10px #AAAAAA;
	-moz-box-shadow: 0px -1px 10px #AAAAAA;
	-webkit-box-shadow: 0px -1px 10px #AAAAAA;
}

a {
	text-decoration: none;
	color: #000000;
}

nav{
	background-color: #CCCCCC;
	margin-bottom: 30px;
}

nav a{
	display: inline-block;
	padding: 10px 20px 15px 20px;
	font-weight: bold;
}

nav a.current_menu{
	background-color: #AAAAAA;
}

p, a, footer{
	font-family: 'Segoe UI', 'Arial', 'Helvetica', 'Trebuchet MS', sans-serif;
	font-size: 14px;
	text-align: justify;
}

footer{
	padding: 5px;
}


/********************/
/***** GAME CSS *****/
/********************/
#game_content{
	display: none;
	width: 750px;
	height: 525px;
	margin: auto;
	margin-bottom: 50px;
	background: #CCC;
	border: 1px solid #000;
}

#player_info{
	position: relative;
	float: right;
	height: 525px;
	width: 200px;
	border: 1px solid #000;
}

#grid{
	width: 525px;
	height: 525px;
	border: 1px solid #000;
	position: relative;
}

.gem{
	position: absolute;
	width: 60px;
	height: 60px;
	cursor: default;
}