@charset "UTF-8";

html, body{
	margin: 0px;
	padding: 0px;
}

body{
	background: #EEF;
}

#content{
	width: 1200px;
	margin: auto;
}

#content p, #content footer{
	font-family: 'Segoe UI', 'Arial', 'Helvetica', 'Trebuchet MS', sans-serif;
	font-size: 14px;
	text-align: justify;
}

#game_content{
	width: 800px;
	height: 700px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid #000;
}

#grid{
	width: 540px;
	height: 540px;
	margin-left: 50px;
	margin-top: 50px;
	border: 1px solid black;
	position: relative;
}

.item{
	position: absolute;
	width: 60px;
	height: 60px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	
}