@charset "UTF-8";

html {
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #111111;
	font-family: 'Electrolize', 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', sans-serif;
	font-size: 14px;
	text-align: justify;
}

#content{
	position: relative;
	width: 1000px;
	min-height: 100%;
	margin: auto;
	background-color: #222244;
	color: #FFFFFF;
	box-shadow: 0px -1px 10px #444444;
	-o-box-shadow: 0px -1px 10px #444444;
	-moz-box-shadow: 0px -1px 10px #444444;
	-webkit-box-shadow: 0px -1px 10px #444444;
}

#site_content{
	padding: 15px;
}

a {
	text-decoration: none;
	color: #000000;
}

header{
	padding-bottom: 30px;
	position: relative;
	z-index: 30;
	background-color: #222244;
}

nav{
	background-color: #CCCCCC;
}

nav a{
	display: inline-block;
	padding: 10px 20px 15px 20px;
	font-weight: bold;
}

nav a.current_menu{
	background-color: #AAAAAA;
}

footer{
	padding: 15px;
}